@model Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Get to Know Joel</title>
</head>
<body>
<div>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy (I'm funny too)</a>
    <br/>
    <a href="https://baconsale.com/">Baconsale Site (Podcast)</a>
    <br/>
    <a href="https://baconsale.com/">
        <img src="/images/BaconSalePodcast.jpg" alt="BaconSalePodcast" height="400px"/>
    </a>
        
</div>
</body>
</html>