@{
    ViewData["Title"] = "Home Page";
}

<div>
    <title>The Joel Hilton Film Collection</title>
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <!--Headshot Image of Joel Hilton-->
    <img src="/images/JoelHiltonHeadshot.jpg" alt="Joel Hilton Headshot"/>
    <br/>
    <br/>
</div>


